<div class="container">
    <h1 class="mt-4" style="color: rgb(0, 100, 100);">Pacientes</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrum-bitem active">Registro</li>
    </ol>

    <!-- -----------------------------ID------------------------------------------- -->

    <form #pacienteForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row" *ngIf="">
            <div class="col-md-3">
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" name="id" [ngModel]="" disabled="true">
                </div>
            </div>
            <!-- -------------------------DATA CADASTRO------------------------------------------ -->
            <div class="col-md-3">
                <div class="form-group">
                    <label>Data de Cadastro</label>
                    <input type="text" class="form-control" name="dataCadastro" [ngModel]="" disabled="true">
                </div>
            </div>
        </div>
        <!-- ----------------------------------NOME-------------------------------------- -->
        <div class="row">

            <div class="col-md-5">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Nome Completo" value="" name="nomePaciente" [(ngModel)]="paciente.nomePaciente">
                </mat-form-field>
            </div>
            <!-- ----------------------------NASCIMENTO------------------------------ -->
            <div class="col-md-3">
                <mat-form-field appearance="fill">
                    <mat-label>Data de Nascimento</mat-label>
                    <input matInput [matDatepicker]="picker" name="dataNascimento" [(ngModel)]="paciente.dataNascimento">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <!-- ----------------------------EMAIL------------------------------ -->
            <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>E-Mail</mat-label>
                    <input matInput placeholder="exemplo@exemplo.com" value="" name="eMail" [(ngModel)]="paciente.eMail">
                </mat-form-field>
            </div>

            <!-- ----------------------------ENDEREÇO------------------------------ -->
            <div class="col-md-5">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Endereço</mat-label>
                    <input matInput placeholder="" value="" name="logradouro" [(ngModel)]="paciente.logradouro">
                </mat-form-field>
            </div>

            <!-- ----------------------------NUMERO------------------------------ -->
            <div class="col-md-1">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nº</mat-label>
                    <input matInput placeholder="00" value="" name="numeroLogradouro" [(ngModel)]="paciente.numeroLogradouro">
                </mat-form-field>
            </div>

            <!-- ----------------------------COMPLEMENTO------------------------------ -->
            <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Complemento</mat-label>
                    <input matInput placeholder="" value="" name="complemento" [(ngModel)]="paciente.complemento">
                </mat-form-field>
            </div>

            <!-- ----------------------------CEP------------------------------ -->
            <div class="col-md-2">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>CEP</mat-label>
                    <input matInput placeholder="" value="" name="cep" [(ngModel)]="paciente.cep">
                </mat-form-field>
            </div>

            <!-- ----------------------------BAIRRO------------------------------ -->
            <div class="col-md-3">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Bairro</mat-label>
                    <input matInput placeholder="" value="" name="bairro" [(ngModel)]="paciente.bairro">
                </mat-form-field>
            </div>

            <!-- ----------------------------CIDADE------------------------------ -->
            <div class="col-md-2">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Cidade</mat-label>
                    <input matInput placeholder="" value="" name="municipio" [(ngModel)]="paciente.municipio">
                </mat-form-field>
            </div>

            <!-- ----------------------------UF------------------------------ -->
            <div class="col-md-1">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>UF</mat-label>
                    <input matInput placeholder="" value="" name="uf" [(ngModel)]="paciente.uf">
                </mat-form-field>
            </div>

            <!-- ----------------------------TELEFONE------------------------------ -->
            <div class="col-md-2">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Telefone</mat-label>
                    <input matInput placeholder="" value="" name="telefone" [(ngModel)]="paciente.telefone">
                </mat-form-field>
            </div>

            <!-- ----------------------------CELULAR------------------------------ -->
            <div class="col-md-2">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Celular</mat-label>
                    <input matInput placeholder="" value="" name="telefoneCelular" [(ngModel)]="paciente.telefoneCelular">
                </mat-form-field>
            </div>

            <!-- ----------------------------SEXO------------------------------ -->
            <div class="col-md-2">
              <mat-form-field style="width: 154px;" appearance="fill">
                <mat-label>Sexo</mat-label>
                <mat-select>
                    <mat-option *ngFor="let sexo of pegarsexo " [value]="sexo" name="sexo" ngDefaultControl [(ngModel)]="paciente.sexo">
                        {{sexo.sexo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            </div>

            <!-- ----------------------------RG------------------------------ -->
            <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>RG</mat-label>
                    <input matInput placeholder="" value="" name="rg" [(ngModel)]="paciente.rg">
                </mat-form-field>
            </div>

            <!-- ----------------------------CPF------------------------------ -->
            <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>CPF</mat-label>
                    <input matInput placeholder="" value="" name="cpf" [(ngModel)]="paciente.cpf">
                </mat-form-field>
            </div>

            <!-- ----------------------------ESTADO CIVIL------------------------------ -->
            <div class="col-md-2">
                <mat-form-field style="width: 154px;" appearance="fill">
                    <mat-label>Estado Civil</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let estadocivil of estadoCivil" [value]="estadocivil" name="estadoCivil" ngDefaultControl [(ngModel)]="paciente.estadoCivil">
                            {{estadocivil.estadoCivil}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- ----------------------------Raça------------------------------ -->
            <div class="col-md-2">
                <mat-form-field style="width: 154px;" appearance="fill">
                    <mat-label>Raça</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let raca of raca" [value]="raca" name="racaPaciente" ngDefaultControl [(ngModel)]="paciente.racaPaciente">
                            {{raca.descricaoRaca}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- ----------------------------Convenio------------------------------ -->
            <div class="col-md-4">
              <mat-form-field style="width: 340px;" appearance="fill">
                <mat-label>Convênio</mat-label>
                <mat-select>
                    <mat-option *ngFor="let convenio of convenio " [value]="convenio" name="convenio" ngDefaultControl [(ngModel)]="paciente.nomeConvenio">
                        {{convenio.nomeConvenio}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            </div>

            <!-- ----------------------------Carteirinha------------------------------ -->
            <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nº Carteira do Convênio</mat-label>
                    <input matInput placeholder="" value="" name="carteiraConvenio" [(ngModel)]="paciente.carteiraConvenio">
                </mat-form-field>
            </div>

            <!-- ----------------------------Data ve Validade------------------------------ -->
            <div class="col-md-2">
                <mat-form-field style="width: 154px;" appearance="fill">
                    <mat-label>Data de Validade</mat-label>
                    <input matInput [matDatepicker]="picker1" name="validadeCarteiraConvenio" [(ngModel)]="paciente.validadeCarteiraConvenio">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>

            <!-- ----------------------------Nacionalidade------------------------------ -->
            <div class="col-md-2">
                <mat-form-field style="width: 154px;" appearance="fill">
                    <mat-label>Nacionalidade</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let nacionalidade of nacionalidade " [value]="nacionalidade" name="nacionalidade" ngDefaultControl [(ngModel)]="paciente.nacionalidade">
                            {{nacionalidade.nomeNacao}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <!-- -------------------------------------------------------------------------- -->
        <!-- ---------------------------Botões----------------------------------------- -->

        <div class="row">
            <div class="col-md-0">

                <!-- ---------------------------Botão Salvar----------------------------------------- -->

                <button type="submit" class="btn ml-3" style="background-color: rgb(70, 211, 70); color: white;"
                    mat-raised-button color="primary" *ngIf="!paciente.idPaciente">
                    <i class="icone fa fa-save"> </i> Salvar
                </button>


                <!-- ---------------------------Botão Voltar----------------------------------------- -->


                <button type="button" class="btn ml-3" style="background-color: rgb(192, 100, 13);" mat-raised-button
                    color="primary" routerLink="/paciente/list">
                    <i class="icone fa fa-reply"> </i> Voltar
                </button>

                <!-- ------------------------------------------------------------------------------- -->
            </div>
        </div>
        <!-- ------------------------------------------------------------------------------- -->
    </form>
</div>
