<div class="container" style="height:100%">
  <h1 class="mt-4" style="color: rgb(0, 100, 100)">Prontuário do Paciente</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrum-bitem active">Visualização de Prontuário</li>
  </ol>
  <br>


<!------------------------------------------FORMULARIO DO PACIENTE------------------------------------------------->

  <mat-form-field style="background-color:rgb(250, 250, 250)" class="example-full-width" id="nomep" appearance="fill">
    <mat-label style="font-size:15px; color:rgb(5, 70, 61); background-color:rgb(250, 250, 250)"><b>Nome do Paciente</b>
    </mat-label>
    <input matInput style="color:rgb(5, 70, 61); background-color:rgb(250, 250, 250)" class="form-control" disabled
      [(ngModel)]="paciente.nomePaciente" name="nomePaciente" />
  </mat-form-field>

  <mat-form-field style="background-color:rgb(250, 250, 250)" class="example-full-width" id="conve" appearance="fill">
    <mat-label style="font-size:15px; color:rgb(5, 70, 61); background-color:rgb(250, 250, 250)"><b>Convênio</b>
    </mat-label>
    <input matInput style="color:rgb(5, 70, 61); background-color:rgb(250, 250, 250)" class="form-control" disabled
      [(ngModel)]="paciente.nomeConvenio" name="nomeConvenio" />
  </mat-form-field>

  <mat-form-field style="background-color:rgb(250, 250, 250)" class="example-full-width" id="nasci" appearance="fill">

    <mat-label style="font-size:15px; color:rgb(5, 70, 61); background-color:rgb(250, 250, 250)"><b>Nascimento</b>
    </mat-label>

    <input matInput style="color:rgb(5, 70, 61); background-color:rgb(250, 250, 250)" class="form-control" disabled
      [(ngModel)]="paciente.dataNascimento" name="dataNascimento" />


  </mat-form-field>


  <!-----------------------------------------------------TABS DO PRONTUARIO----------------------------------------->

  <mat-tab-group>

    <!--FICHA-->
    <mat-tab label="Ficha" >
      <br />

      <!--BOTOES DA FICHA-->
      <button mat-button *ngIf="novo" style="color: rgb(255, 255, 255); background-color: rgb(38, 95, 105)"
      (click)="toggleDisabled()">
         Novo
        <mat-icon>add</mat-icon>
      </button
      >
      <button mat-button *ngIf="cancel" style="color: rgb(255, 255, 255); background-color: rgb(87, 9, 110)"
      (click)="toggleCancel()">
        Cancelar
        <mat-icon>close</mat-icon>
      </button>

      <button type="button" class="btn ml-3" style="background-color: rgb(22, 61, 97);" mat-raised-button
        color="primary" routerLink="/paciente/list">
        <i class="icone fa fa-reply"> </i> Voltar
      </button>
      <br>

       <!--EDITOR DA FICHA-->
       <div class="edit" *ngIf="edited">
         <ckeditor [disabled]="isDisabled" [editor]="Editor" data=""></ckeditor>
       </div>
      

       <!--PDF FICHA-->
      <br>
      <div class="row">
        <mat-nav-list style="width: 170px; margin-left: 20px;">
          <mat-list-item *ngFor="let documento of listPront">
            <mat-divider></mat-divider>
           <span matLine *ngIf="documento.origem=='FICHA'">{{documento.data | date: 'dd/MM/yyyy' }}</span>
            <button mat-icon-button (click)="visupdf(documento)"  *ngIf="documento.origem=='FICHA'">
              <mat-icon>search</mat-icon>
            </button>
          </mat-list-item>
        </mat-nav-list>
        
        <!--View Fichas-->
        <pdf-viewer [src]="pdfSrc"
        [show-borders]="true"
        
        [zoom]="0.8">        
        ></pdf-viewer>
      </div>
    </mat-tab>

    <!--Laudos-->
    <mat-tab label="Laudos" style="height:100%">
      <br>

       <!--BOTOES DA LAUDO-->
       <button mat-button *ngIf="novo" style="color: rgb(255, 255, 255); background-color: rgb(38, 95, 105)"
       (click)="toggleDisabled()">
          Novo
         <mat-icon>add</mat-icon>
       </button
       >
       <button mat-button *ngIf="cancel" style="color: rgb(255, 255, 255); background-color: rgb(87, 9, 110)"
       (click)="toggleCancel()">
         Cancelar
         <mat-icon>close</mat-icon>
       </button>
 
       <button type="button" class="btn ml-3" style="background-color: rgb(22, 61, 97);" mat-raised-button
         color="primary" routerLink="/paciente/list">
         <i class="icone fa fa-reply"> </i> Voltar
       </button>
       <br>
 
        <!--EDITOR DO LAUDO-->
        <div class="edit" *ngIf="edited">
          <ckeditor [disabled]="isDisabled" [editor]="Editor" data=""></ckeditor>
        </div>
       
        <!--PDF DO LAUDO-->
      <br>
      <div class="row">
        <mat-nav-list style="width: 180px; margin-left: 20px;">
          <mat-list-item *ngFor="let documento of listPront">
            <mat-divider></mat-divider>
           <span matLine *ngIf="documento.origem=='LDMED'">{{documento.data | date: 'dd/MM/yyyy' }}</span>
            <button mat-icon-button (click)="visupdf(documento)"  *ngIf="documento.origem=='LDMED'">
              <mat-icon>search</mat-icon>
            </button>
          </mat-list-item>
        </mat-nav-list>
        
        <!--View LAUDO-->
        <pdf-viewer [src]="pdfSrc" 
        [show-borders]="true"
        
        [zoom]="0.8">

      </pdf-viewer>
      </div>
    </mat-tab>

    <!--Atestado e Relatorios-->
    <mat-tab label="Atestado e Relatórios">
      <br>

      <!--BOTOES DO ATESTADO E RELATORIO-->
      <button mat-button *ngIf="novo" style="color: rgb(255, 255, 255); background-color: rgb(38, 95, 105)"
      (click)="toggleDisabled()">
         Novo
        <mat-icon>add</mat-icon>
      </button
      >
      <button mat-button *ngIf="cancel" style="color: rgb(255, 255, 255); background-color: rgb(87, 9, 110)"
      (click)="toggleCancel()">
        Cancelar
        <mat-icon>close</mat-icon>
      </button>

      <button type="button" class="btn ml-3" style="background-color: rgb(22, 61, 97);" mat-raised-button
        color="primary" routerLink="/paciente/list">
        <i class="icone fa fa-reply"> </i> Voltar
      </button>
      <br>

       <!--EDITOR DO ATESTADO E RELATORIO-->
       <div class="edit" *ngIf="edited">
         <ckeditor [disabled]="isDisabled" [editor]="Editor" data=""></ckeditor>
       </div>
      
       <!--PDF DO RECEITUARIO-->
      <div class="row">
        <mat-nav-list style="width: 180px; margin-left: 20px;">
          <mat-list-item *ngFor="let documento of listPront">
            <mat-divider></mat-divider>
           <span matLine *ngIf="documento.origem=='RELAT'">{{documento.data | date: 'dd/MM/yyyy' }}</span>
            <button mat-icon-button (click)="visupdf(documento)"  *ngIf="documento.origem=='RELAT'">
              <mat-icon>search</mat-icon>
            </button>
          </mat-list-item>
        </mat-nav-list>

        <!--View ATESTADO E RELATORIO-->
        <pdf-viewer [src]="pdfSrc"
        [show-borders]="true"
        
        [zoom]="0.8"></pdf-viewer>
      </div>
            </mat-tab>
      



    <!--Receituario-->
    <mat-tab label="Receituário">
      <br>

      <!--BOTOES DO RECEITUARIO-->
      <button mat-button *ngIf="novo" style="color: rgb(255, 255, 255); background-color: rgb(38, 95, 105)"
      (click)="toggleDisabled()">
         Novo
        <mat-icon>add</mat-icon>
      </button
      >
      <button mat-button *ngIf="cancel" style="color: rgb(255, 255, 255); background-color: rgb(87, 9, 110)"
      (click)="toggleCancel()">
        Cancelar
        <mat-icon>close</mat-icon>
      </button>

      <button type="button" class="btn ml-3" style="background-color: rgb(22, 61, 97);" mat-raised-button
        color="primary" routerLink="/paciente/list">
        <i class="icone fa fa-reply"> </i> Voltar
      </button>
      <br>

       <!--EDITOR DO RECEITUARIO-->
       <div class="edit" *ngIf="edited">
         <ckeditor [disabled]="isDisabled" [editor]="Editor" data=""></ckeditor>
       </div>
      
       <!--PDF DO RECEITUARIO-->
      <div class="row">
        <mat-nav-list style="width: 180px; margin-left: 20px;">
          <mat-list-item *ngFor="let documento of listPront">
            <mat-divider></mat-divider>
           <span matLine *ngIf="documento.origem=='RELAT'">{{documento.data | date: 'dd/MM/yyyy' }}</span>
            <button mat-icon-button (click)="visupdf(documento)"  *ngIf="documento.origem=='RELAT'">
              <mat-icon>search</mat-icon>
            </button>
          </mat-list-item>
        </mat-nav-list>

        <!--View RECEITUARIO-->
        <pdf-viewer [src]="pdfSrc"
        [show-borders]="true"
        
        [zoom]="0.8">></pdf-viewer>
      </div>

    </mat-tab>



    <!--Solicitação de Exames-->
    <mat-tab label="Solicitação de Exames">
      <br>

      <!--BOTOES DO EXAME-->
      <button mat-button *ngIf="novo" style="color: rgb(255, 255, 255); background-color: rgb(38, 95, 105)"
      (click)="toggleDisabled()">
         Novo
        <mat-icon>add</mat-icon>
      </button
      >
      <button mat-button *ngIf="cancel" style="color: rgb(255, 255, 255); background-color: rgb(87, 9, 110)"
      (click)="toggleCancel()">
        Cancelar
        <mat-icon>close</mat-icon>
      </button>

      <button type="button" class="btn ml-3" style="background-color: rgb(22, 61, 97);" mat-raised-button
        color="primary" routerLink="/paciente/list">
        <i class="icone fa fa-reply"> </i> Voltar
      </button>
      <br>

       <!--EDITOR DO EXAME-->
       <div class="edit" *ngIf="edited">
         <ckeditor [disabled]="isDisabled" [editor]="Editor" data=""></ckeditor>
       </div>
      
       <!--PDF DO EXAME-->
      <br>
      <div class="row">
        <mat-nav-list style="width: 180px; margin-left: 20px;">
          <mat-list-item *ngFor="let documento of listPront">
            <mat-divider></mat-divider>
            <span matLine *ngIf="documento.origem=='RELAT'">{{documento.data | date: 'dd/MM/yyyy' }}</span>
            <button mat-icon-button (click)="visupdf(documento)"  *ngIf="documento.origem=='RELAT'">
              <mat-icon>search</mat-icon>
            </button>
          </mat-list-item>
        </mat-nav-list>

        <!--View Solicitação de Exames-->
        <pdf-viewer [src]="pdfSrc"
        [show-borders]="true"
        
        [zoom]="0.8">></pdf-viewer>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>