<div class="container">
    
    <iframe src="https://sendlink-53591.firebaseapp.com/conf.html?room=efeff8939e1156492b6c4214fccfb6bf" style="border:0px #ffffff none;" name="Jitsi" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" height="1000px" width="600px" allowfullscreen="" allow="camera; microphone">
    </iframe>
    
    <div>
    <mat-form-field class="example-full-width" appearance="fill" style="width:800px; margin-top: -250px;">
        <mat-label>Copie o convite e envie para o paciente.</mat-label>
        <input matInput placeholder=""
        value="https://sendlink-53591.firebaseapp.com/conf.html?room=efeff8939e1156492b6c4214fccfb6bf"
        name="telefone">
    </mat-form-field>
    </div>

    <button type="button" class="btn ml-3" style="background-color: rgb(22, 61, 97);" mat-raised-button
    color="primary" routerLink="/agenda/medico/">
    <i class="icone fa fa-reply"> </i> Voltar
  </button>
</div>