<div class="container">
    <br>

    <div class="row">
      
      
      <br>
      <iframe src="https://sendlink-53591.firebaseapp.com/conf.html?room=" style="border:0px #ffffff none;" name="Jitsi" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" height="1000px" width="600px" allowfullscreen="" allow="camera; microphone">
      </iframe>

      <h3 style="color: rgb(17, 114, 114); font-size: 20px; margin-top:500px; margin-left: 50px;">
        <b>Copie e cole esse codigo <br> para iniciar a reunião:</b><br>
        
        <mat-form-field class="example-form-field" appearance="fill">        
          <input matInput type="text" [(ngModel)]="hash">          
        </mat-form-field>

      </h3>
    </div>
    
    <button type="button" class="btn ml-3" style="background-color: rgb(22, 61, 97);" mat-raised-button
    color="primary" routerLink="/agenda/medico/">
    <i class="icone fa fa-reply"> </i> Voltar
  </button>

  
</div>


<!--<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://meet.jit.si/external_api.js'></script>

<script>
  $(document).ready(function() {
    var domain = "meet.jit.si";
    var options = {
      roomName: "",
      width: 700,
      height: 700,
      parentNode: document.querySelector('#meet')
    }
    var api = new JitsiMeetExternalAPI(domain, options);
  });
</script>
<h1>Clinical</h1>
<div id="meet">
  meeting
</div> -->
