<div class="container">
    
    <iframe src="https://sendlink-53591.firebaseapp.com/conf.html?room="  style="border:0px #ffffff none;" name="Jitsi" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" height="1000px" width="600px" allowfullscreen="" allow="camera; microphone">
    </iframe>
    
    <button type="button" class="btn ml-3" style="background-color: rgb(22, 61, 97);" mat-raised-button
    color="primary" routerLink="/agenda/medico/">
    <i class="icone fa fa-reply"> </i> Voltar
  </button>
</div>