<div class="container">
    <h1 class="mt-4" style="color: rgb(0, 100, 100);">Agenda</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrum-bitem active">Agenda Médica</li>

    </ol>

 <br>




    <div class="container" id="agenda">      
            
        

        <div>

            <h3 style="color: rgb(10, 92, 92);"> <b>Selecione a unidade:</b></h3>
             <mat-form-field style="width: 250px;" appearance="fill">
                <mat-label>Unidade</mat-label>
                <mat-select [(value)]="idUnidade">
                    <mat-option *ngFor="let unidade of unidade" [value]="unidade.idUnidade" name="unidade" ngDefaultControl>
                        {{unidade.nomeUnidade}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

         <!--Calendario-->   
            <mat-card class="demo-inline-calendar-card" style="color: rgb(10, 92, 92);">
                <mat-calendar  class="calendar"  (selectedChange)="searchScheduleProfessional($event)"></mat-calendar>
                  <p><span>{{dataAgenda}}</span>  </p>
                  <p style="color: rgb(10, 92, 92);">Data selecionada:<b>{{currentDate | date: 'dd/MM/yyyy'}}</b></p>
            </mat-card>

            <mat-card style="margin-top:10px;">
                <h3 style="color: rgb(10, 92, 92); text-align:center;"><b>Instruções</b></h3>
<hr>
                <p style="color: rgb(10, 92, 92);"><li>Para verificar o prontuário <br>clique no paciente.</li></p><br>
                <p style="color: rgb(10, 92, 92);"><li>Selecione a unidade da sua <br>agenda.</li></p><br>
                
                
                <h3 style="color: rgb(10, 92, 92);text-align:center;"><b>Status da Agenda</b></h3>
<hr>
                <p>
                    <mat-icon >
                        calendar_today
                      </mat-icon>  <span style="color: rgb(10, 92, 92);">Agendado</span>
                </p>

                <p>
                    <mat-icon  style="color: red;">
                        highlight_off
                      </mat-icon>  <span style="color: rgb(10, 92, 92);">Paciente Não Cadastrado</span>
                </p>

                <p>
                    <mat-icon style="color: red;">
                        e_mobiledata
                      </mat-icon>  <span style="color: rgb(10, 92, 92);">Horario Extra</span>
                </p>

                <p>
                    <mat-icon >
                        description
                      </mat-icon>  <span style="color: rgb(10, 92, 92);">Entrega de Resultado</span>
                </p>

                <p>
                    <mat-icon style="color: red;">
                        sentiment_satisfied
                      </mat-icon>  <span style="color: rgb(10, 92, 92);">Paciente Atrasado</span>
                </p>

                <p>
                    <mat-icon style="color: green;">
                        sentiment_satisfied
                      </mat-icon>  <span style="color: rgb(10, 92, 92);">Paciente Presente</span>
                </p>

                <p>
                    <mat-icon style="color: green;">
                        done
                      </mat-icon>  <span style="color: rgb(10, 92, 92);">Atendido</span>
                </p>

                <p>
                    <mat-icon>
                        filter_1
                      </mat-icon> <span style="color: rgb(10, 92, 92);"> Paciente Primeira Vez</span>
                </p>

                <p>
                    <mat-icon style="color: red;">
                        format_underlined
                      </mat-icon>  <span style="color: rgb(10, 92, 92);">Paciente Urgente</span>
                </p>

                <p>
                    <mat-icon style="color:gold">
                        lock
                      </mat-icon>  <span style="color: rgb(10, 92, 92);">Paciente Bloqueado</span>
                </p>

                <p>
                    <mat-icon style="color: rgb(199, 17, 223);">
                        sentiment_satisfied
                      </mat-icon>  <span style="color: rgb(10, 92, 92);">Paciente Pronto</span> 
                </p>

                <p>
                    <mat-icon style="color: rgb(24, 163, 228);">
                        sentiment_satisfied
                      </mat-icon>  <span style="color: rgb(10, 92, 92);">Médico Atendeu</span> 
                </p>

                <p>
                    <mat-icon>
                        sentiment_satisfied
                      </mat-icon> <span style="color: rgb(10, 92, 92);">Paciente Confirmado</span>  
                </p>

                <p>
                    <mat-icon >
                        announcement
                      </mat-icon>  <span style="color: rgb(10, 92, 92);">Paciente Não Confirmou</span>
                </p>

                <p>
                    <mat-icon>
                        call_missed_outgoing
                      </mat-icon>  <span style="color: rgb(10, 92, 92);">Paciente Faltou e Avisou</span>
                </p>

                <p>
                    <mat-icon>
                        backspace
                      </mat-icon>  <span style="color: rgb(10, 92, 92);">Faltou e Não Avisou</span>
                </p>

                <p>
                    <mat-icon style="color:rgb(18, 114, 143)">
                        work_off
                      </mat-icon>  <span style="color: rgb(10, 92, 92);">Médico Faltou</span> 
                </p>

                <p>
                    <mat-icon style="color:red">
                        not_interested
                      </mat-icon>  <span style="color: rgb(10, 92, 92);">Paciente Desistiu</span>
                </p>

                <p>
                    <mat-icon style="color: blue">
                        local_phone
                      </mat-icon>  <span style="color: rgb(10, 92, 92);">Paciente Remarcou</span>
                </p>
                           

                <p>
                    <mat-icon >
                        accessible
                      </mat-icon>  <span style="color: rgb(10, 92, 92);">Necessidades Especiais</span>
                </p>

                <p>
                    <mat-icon style="color:gold">
                        sentiment_satisfied
                      </mat-icon> <span style="color: rgb(10, 92, 92);"> Paciente em Exame</span>
                </p>

                <p>
                    <mat-icon>
                        pregnant_woman
                      </mat-icon>  <span style="color: rgb(10, 92, 92);">Gestante</span>
                </p>



            </mat-card>
        </div>




     <!----------------------------------- TABELA ---------------------------- -->
                <table mat-table [dataSource]="agenda" class="mat-elevation-z8">


                    <!-- numero de guia Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element">
                            <app-agenda-status 
                            [schedule]="element">
                            </app-agenda-status>
                        </td>
                    </ng-container>

                    <!-- numero de guia Column -->
                    <ng-container matColumnDef="hora">
                        <th mat-header-cell *matHeaderCellDef> Hora </th>
                        <td mat-cell *matCellDef="let element"> {{element.horaAgenda ? element.horaAgenda : '----'}} </td>
                    </ng-container>

                    <!-- data de encaminhamento Column -->
                    <ng-container matColumnDef="paciente">
                        <th mat-header-cell *matHeaderCellDef> Paciente </th>
                        <td mat-cell *matCellDef="let element"> {{element.paciente.nomePaciente ? element.paciente.nomePaciente : '----'}} </td>
                    </ng-container>

                    <!-- colaborador Column -->
                    <ng-container matColumnDef="convenio">
                        <th mat-header-cell *matHeaderCellDef> Convênio </th>
                        <td mat-cell *matCellDef="let element"> {{element.paciente.nomeConvenio ? element.paciente.nomeConvenio : '----'}} </td>
                    </ng-container>

                    <!-- tipo de exame Column -->
                    <ng-container matColumnDef="servico">
                        <th mat-header-cell *matHeaderCellDef> Serviço </th>
                        <td mat-cell *matCellDef="let element"> {{element.nomeProcedimento ? element.nomeProcedimento : '----'}} </td>
                    </ng-container>

                    <tr mat-header-row  *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row (click)="click(element.idPaciente)" 
                    *matRowDef="let element; columns: displayedColumns;"></tr>
                </table>

    </div>


