<nav class="sb-topnav navbar navbar-expand navbar-dark" style="background-color: rgb(8, 113, 121);"
>
    <a class="navbar-brand" style="background-color: rgb(8, 113, 121);" routerLink="home/home">
      <img src="assets/images/logo2.png" alt="logo">
      ClinicAll Medic</a>

    <button mat-button type="button" style="color: white; background-color: rgb(8, 113, 121);" mat-button
      (click)="drawer.toggle()" (click)="drawer2.toggle()">
      <mat-icon>reorder</mat-icon>
    </button>

    <div class="navbar-brand" ><span>{{horaatual | date: 'dd/MM/yyyy'}}</span></div>

    <div class="navbar-brand" style="margin-left: 30px;"><span >{{nomeFantasia}}</span></div>

    <div class="usuario" style="margin-left: 200px; color: white;"><span>Usuário Conectado: {{user.nomeUsuario}}</span></div>

  </nav>


  <!--SIDEBAR LATERAL-->

  <mat-drawer-container class="example-container" >

    <mat-drawer #drawer class="example-sidenav" mode="side">

      <!--------CLINICAL MEDIC-------->
      <div style="color: rgb(39, 182, 134); margin-left: 10px; color: rgb(235, 235, 235);"> <br> ClinicAll Medic</div>

      <!--------HOME-------->
      <a class="nav-link" routerLink="/home/home">
        <div class="menu row" style="margin-left: 10px;"> 
          <mat-icon class="icon">home</mat-icon>
          <p style="margin-left: 10px;" class="name">HOME</p>
        </div>
      </a>


      <!--------OPERACIONAL-------->
      <div style="color: rgb(39, 182, 134); margin-left: 10px; color: rgb(235, 235, 235);">Operacional</div>

      <!--------AGENDA-------->
      <a class="nav-link" routerLink="/agenda/medico">
        <div class="menu row" style="margin-left: 10px;">
          <mat-icon class="icon">schedule</mat-icon>
          <p class="name" style="margin-left: 10px;">Agenda</p>
        </div>
      </a>

      <!--------DASHBOARD-------->
      <a class="nav-link" routerLink="/dashboard/list">
        <div class="menu row" style="margin-left: 10px;">
          <mat-icon class="icon">dashboard</mat-icon>
          <p style="margin-left: 10px;" class="name">Dashboard</p>
        </div>
      </a>

      <!--------Telemedicina-------->
      <a class="nav-link" routerLink="/video/conferencia">
        <div class="menu row" style="margin-left: 10px;">
          <mat-icon class="icon">videocam</mat-icon>
          <p style="margin-left: 10px;" class="name">Telemedicina</p>
        </div>
      </a>

      <!--------COLBORADOR-------->
      <a class="nav-link" routerLink="/paciente/list">
        <div class="menu row" style="margin-left: 10px;">
          <mat-icon class="icon">portrait</mat-icon>
          <p style="margin-left: 10px;" class="name">Paciente</p>
        </div>
      </a>

      <!--------FECHAR-------->
      <a class="nav-link" (click)="sair()">
        <div class="menu row" style="margin-left: 10px;">
          <mat-icon class="icon">close</mat-icon>
          <p style="margin-left: 10px;" class="name">Sair</p>
        </div>
      </a>



    </mat-drawer>


<!------------------------------------------------------------------------------------------------>



    <br><br>




    <!--BODY-->
    <main>
      <div class="container">
          <br><body>            
                    <router-outlet></router-outlet>
          </body>
     <!--FOOTER-->
     <footer class="py-4 bg-light">
        <div class="container-fluid">
          <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Focus Tecnologia em Sistemas <span > {{anoAtual}} </span></div>



           <div>
              <a href="#">Privacy Policy</a>
              &middot;
              <a href="#">Terms &amp; Conditions</a>
            </div>
          </div>
        </div>
      </footer>
    </div>


    </main>

  </mat-drawer-container>

  <mat-drawer #drawer2 class="example-sidenav2" mode="side" opened>



    <!--------HOME-------->
    <a class="nav-link active" routerLink="/home/home">
      <div title="HOME" class="menu1 row" style="margin-left: 10px;"> 
        
        <mat-icon class="icon2">home</mat-icon>

      </div>
    </a>


    <!--------AGENDA-------->
    <a class="nav-link active" routerLink="/agenda/medico">
      <div title="Agenda" class="menu1 row" style="margin-left: 10px;">
        
        <mat-icon class="icon2">schedule</mat-icon>

      </div>
    </a>

    <!--------DASHBOARD-------->
    <a class="nav-link active" routerLink="/dashboard/list">
      <div title="Dashboard" class="menu1 row" style="margin-left: 10px;">
                
        <mat-icon class="icon2">dashboard</mat-icon>

      </div>
    </a>

    <!--------Telemedicina-------->
    <a class="nav-link" routerLink="/video/conferencia">
      <div title="Telemedicina" class="menu1 row" style="margin-left: 10px;">
        <mat-icon class="icon2">videocam</mat-icon>        
      </div>
    </a>

    <!--------PACIENTE-------->
    <a class="nav-link active" routerLink="/paciente/list">
      <div title="Pacientes" class="menu1 row" style="margin-left: 10px;">
        
        <mat-icon class="icon2">portrait</mat-icon>

      </div>
    </a>
    

    <br>
    <!--------FECHAR-------->
    <a class="nav-link active" (click)="sair()">
      <div title="Sair" class="menu1 row" style="margin-left: 10px;">
        
        <mat-icon class="icon2">close</mat-icon>

      </div>
    </a>

  </mat-drawer>
